<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469449748154-er3ejsonrq887hh2kdqjmq60bmqso6f7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469449748154-er3ejsonrq887hh2kdqjmq60bmqso6f7</string>
	<key>API_KEY</key>
	<string>AIzaSyCUdEyDDUJAj3mZBJMeph8WYxZpLXY_d-g</string>
	<key>GCM_SENDER_ID</key>
	<string>469449748154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelPlanner</string>
	<key>PROJECT_ID</key>
	<string>travelplanner-7f5f0</string>
	<key>STORAGE_BUCKET</key>
	<string>travelplanner-7f5f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469449748154:ios:3b9135f4947bb8d3df1c83</string>
</dict>
</plist>